.card{
    margin-bottom: 40px;
}

.card img{
    border-radius: 30px;
    cursor: pointer;
}

.card h4{
    font-size: 20px;
    font-weight: 450;
    color: #5a5a5a;
}

@media screen and (max-width:468px) {
    .card img{
        height: 280px;
        width: 280px;
    }
    .card h1{
        font-size: 35px;
    }
    .card h4{
        font-size: 18px;
    }
}