.second-container {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2rem;
    background: linear-gradient(225deg, #e3e9fc 50%, #f5f6fc, #f0efee);
    padding-left: 2rem;
  }
  
  .image-container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
  }

  
  .text {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    margin-top: 80px;
    margin-left: auto;
    padding-right: 20px;
  }
  

.bike-name{
    font-size: 1.5rem;
    padding-top: 1rem;
}

.heading{
    font-size: 3.5rem;
    margin: 15px 0 30px 0;
}

.btn{
    display: flex;
    gap: 1rem;
    margin-bottom: 100px;
}

.explore-btn{
    color: #fff;
    background-color: #000;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

.explore-btn:hover{
    background: #fff;
    color: #000;
    transition: .5s;
}

.ride-btn{
    display: flex;
    align-items: center;
    color: #000;
    background: transparent;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
}

.ride-btn:hover > .right-arrow {
    transform: translate(5px);
    transition: .3s;
}

.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.details-heading{
    color: #90939e;
    bottom: 0;
}

.separator{
    color: #90939e;
    opacity: .2;
    font-size: 30px;
}


.third-container{
    text-align: center;
    height: 100vh;
}

.third-container h1 {
    font-size: 55px;
    font-weight: 400;
    margin-top: 100px;
    background: linear-gradient(to right, #9f6af7, #1ab1e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

.third-container p{
    font-size: 23px;
    margin: 25px 0;
    margin-bottom: 40px;
}

.third-container img{
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    vertical-align: middle;
    display: inline-block;
}

.book-btn{
    color: #000;
    background-color: #fff;
    border: none;
    border: 3px solid #000;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

.book-btn:hover{
    background: #000;
    color: #fff;
    transition: .5s;
}

.learn-btn {
    margin-left: 20px;
    color: #000;
    background: transparent;
    border: none;
    height: 25px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .learn-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #9f6af7, #1ab1e0);
    transition: width 0.3s ease;
  }
  
  .learn-btn:hover:before {
    width: 100%;
    animation: rainbow 2s linear infinite;
  }
  
  @keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
